/*Table of Content

    1. Default
    2. Mouse Animation
    3. Navbar
    4. Banner
    5. About
	6. Experience
	7. Timeline
    8. Portfolio
	9. Slideshow Carousel
 	10. Skills
   	11. Contact
    12. Footer
	13. Parallax
*/

/*---Default---*/
html, body {
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 15px;
	line-height: 1.7;
	color: #333333;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-weight: 600;
}
p {
	letter-spacing: 0;
	line-height: 1.8;
}
a {
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
a:focus {
	outline: none;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.section-padding {
	padding: 60px 0;
}
.section-header {
	margin-bottom: 60px;
	text-align: center;
}
.section-header h2 {
	display: inline-block;
	padding: 5px;
	margin: 5px 0;
}
.line-one {
	height: 1px;
	width: 100px;
	background: #E91E63;
	display: block;
	margin: 0 auto;
	padding: 0;
}
/*---Default Ends---*/

/*---Mouse Animation---*/

@-webkit-keyframes scroll-ani {
 0% {
 opacity: 1;
 top: 29%;
}
 15% {
 opacity: 1;
 top: 50%;
}
 50% {
 opacity: 0;
 top: 50%;
}
 100% {
 opacity: 0;
 top: 29%;
}
}
 @keyframes scroll-ani {
 0% {
 opacity: 1;
 top: 29%;
}
 15% {
 opacity: 1;
 top: 50%;
}
 50% {
 opacity: 0;
 top: 50%;
}
 100% {
 opacity: 0;
 top: 29%;
}
}
.mouse-scroll {
	position: absolute;
	left: 48%;
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 2px;
	margin-top: 5%;
	text-decoration: none;
	overflow: hidden;
}
.mouse-scroll .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 60px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #ffffff;
	border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #ffffff;
	border-radius: 50%;
	-webkit-animation: scroll-ani 2s linear infinite;
	animation: scroll-ani 2s linear infinite;
}
/*---Mouse Animation Ends---*/

/*---Navbar---*/
.nav-area {
	height: 65px;
}
.nav-area.sticky_navigation {
	background: #ffffff;
	height: 80px;
}
.navbar-nav {
	margin-top: 15px;
}
.sticky_navigation {
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}
.sticky_navigation .main-menu {
	margin-top: 0;
}
.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
	color: #000000;
}
.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
	color: #292C44;
}
.sticky_navigation .nav li a {
	color: #333333;
}
.sticky_navigation .nav li.active a {
	color: #292C44;
}
.sticky_navigation .nav li.active::before {
	border-top: 1px solid #292C44;
	content: "";
	display: block;
	margin: 0 auto;
	width: 50%;
}
.sticky_navigation .nav li.active::after {
	border-bottom: 1px solid #292C44;
	content: "";
	display: block;
	margin: 0 auto;
	width: 50%;
}
.sticky_navigation .navbar-brand:hover {
	color: #ffffff;
}
.main-menu {
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	margin-top: 10px;
}
.navbar {
	border: 0;
	margin-bottom: 0;
}
.navbar-brand {
	padding: 25px 0;
	text-transform: uppercase;
	font-size: 25px;
	display: block;
	color: #ffffff;
	font-weight: 800;
}
.logo {
	padding: 5px;
	font-size: 32px;
	letter-spacing: 3px;
}
.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none;
	color: #ffffff;
}
.navbar-right li {
	display: inline-block;
	float: none;
}
.navbar-right li a {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
}
.navbar-right li.active a {
	font-weight: bold;
	color: #ffffff;
}
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
	background: none;
}
.navbar-toggle .icon-bar {
	background: #033D75;
}
/*---Navbar Ends---*/

/*---Banner---*/
.banner-area {
	/*background-image: url(../images/Carousel.png); /*--edit image--*/
	background-position: center;
	background-size: cover;
	vertical-align: middle;
	position: relative;
	height: 100%;
}
.banner-area::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
}
canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.banner-table {
	display: table;
	margin: 0;
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.banner-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.welcome-text .intro h2 {
	color: #292C44;
	font-size: 85px;
	font-weight: 800;
	margin-bottom: 10px;
}
.intro h1 {
	color: #FFFFFF;
	font-size: 60px;
	font-weight: 200;
	margin: 0;
}
.ah-headline.clip .ah-words-wrapper::after {
	background-color: #fff;
}
.banner-btn {
	background: #FF5349;
	text-decoration: none;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 25px;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.banner-btn:hover, .banner-btn:focus {
	text-decoration: none;
	color: #ffffff;
}
.welcome-text h3 {
	color: #fff;
	text-transform: uppercase;
}
/*---Banner Ends---*/

/*---About---*/
.about-text-left h2 {
	font-weight: 700;
	font-size: 36px;
	color: #212121;
	line-height: 1;
	text-align: right;
	margin-bottom: 5px;
}
.about-text-left h3 {
	color: #212121;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: right;
	margin-bottom: 18px;
}
.about-text-left p {
	text-align: right;
	font-size: 13px;
	color: #222;
	margin-bottom: 50px;
}
.about-text-left a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background: #FF5349;
	padding: 15px;
	float: right;
	text-decoration: none;
}
.about-text-right {
	margin-top: 90px;
}
.about-text-left {
	margin-top: 90px;
}
.about-text-left p {
	text-align: right;
	font-size: 15px;
	color: #222;
	margin-bottom: 50px;
}
/*---About Ends---*/

/*---Experience---*/
#experiencesection {
	background-color: #292C44;
	margin: 0 auto;
	text-align: center;
}
.qualification {
	background-color: #F0F0F1;
	margin: 30px;
	padding: 10px;
	display: inline-block;
	height: 300px;
	width: 300px;
	transition: all 300ms ease-in-out;
}
.qualification:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,.2);
}
.qualification h3 {
	color: #292C44;
}
.qualification ul li {
	color: #292C44;
}
.experience {
	background-color: #292C44;
	margin: 0 auto;
	text-align: center;
}
.experience-area .container .section-header h2 {
	color: #FFFFFF;
}
/*---Experience ends---*/

/*---Timeline----*/
.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin-top: 2em;
	margin-bottom: 2em;
}
#cd-timeline h2 {
	color: #FF5349;
}
#cd-timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
#cd-timeline {
	margin-top: 3em;
	margin-bottom: 3em;
}
#cd-timeline::before {
	left: 50%;
	margin-left: -2px;
}
}
.cd-timeline-block {
	position: relative;
	margin: 2em 0;
}
.cd-timeline-block::after {
	clear: both;
	content: "";
	display: table;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
.cd-timeline-block {
	margin: 4em 0;
}
.cd-timeline-block:first-child {
	margin-top: 0;
}
.cd-timeline-block:last-child {
	margin-bottom: 0;
}
}
.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}
.cd-timeline-img.cd-tester {
	background: #75ce66;
}
.cd-timeline-img.cd-developer {
	background: #C03B44;
}
.cd-timeline-img.cd-computerclub {
	background: #8E6FC8;
}
.cd-timeline-img.cd-roboticsclub {
	background: #D7A837;
}

@media only screen and (min-width: 1170px) {
.cd-timeline-img {
	width: 60px;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.cssanimations .cd-timeline-img.is-hidden {
	visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce-1 0.6s;
	-moz-animation: cd-bounce-1 0.6s;
	animation: cd-bounce-1 0.6s;
}
}
 @-webkit-keyframes cd-bounce-1 {
 0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes cd-bounce-1 {
 0% {
 opacity: 0;
 -moz-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -moz-transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
}
}
@keyframes cd-bounce-1 {
 0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
 -moz-transform: scale(0.5);
 -ms-transform: scale(0.5);
 -o-transform: scale(0.5);
 transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -ms-transform: scale(1.2);
 -o-transform: scale(1.2);
 transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 -ms-transform: scale(1);
 -o-transform: scale(1);
 transform: scale(1);
}
}
.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #ffffff;
	border-radius: 0.25em;
	padding: 1em;
	/*box-shadow: 0 3px 0 #d7e4ed;*/
	transition: all 300ms ease-in-out;
}
.cd-timeline-content:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,.2);
}
.cd-timeline-content::after {
	clear: both;
	content: "";
	display: table;
}
.cd-timeline-content h2 {
	color: #303e49;
	font-size: 14px;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content {
	font-size: 14px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	display: inline-block;
}
.cd-timeline-content p {
	margin: 1em 0;
	line-height: 2;
}
.cd-timeline-content .cd-read-more {
	float: right;
	padding: .8em 1em;
	background: #acb7c0;
	color: #ffffff;
	border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
	background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
	float: left;
	padding: .8em 0;
	color: white;
}
.cd-timeline-content::before {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
.cd-timeline-content h2 {
	font-size: 14px;/*font-size: 1.25rem;*/
}
.cd-timeline-content p {
	font-size: 14px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
	font-size: 14px;
}
}

@media only screen and (min-width: 1170px) {
.cd-timeline-content {
	margin-left: 0;
	padding: 1.6em;
	width: 45%;
}
.cd-timeline-content::before {
	top: 24px;
	left: 100%;
	border-color: transparent;
	border-left-color: #ffffff;
}
.cd-timeline-content .cd-read-more {
	float: left;
}
.cd-timeline-content .cd-date {
	position: absolute;
	width: 100%;
	left: 80%;
	top: 6px;
	font-size: 14px;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
	float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
	top: 24px;
	left: auto;
	right: 100%;
	border-color: transparent;
	border-right-color: #ffffff;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
	float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
	left: auto;
	right: 122%;
	text-align: right;
}
.cssanimations .cd-timeline-content.is-hidden {
	visibility: hidden;
}
.cssanimations .cd-timeline-content.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce-2 0.6s;
	-moz-animation: cd-bounce-2 0.6s;
	animation: cd-bounce-2 0.6s;
}
}

@media only screen and (min-width: 1170px) {
/* inverse bounce effect on even content blocks */
.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
	-webkit-animation: cd-bounce-2-inverse 0.6s;
	-moz-animation: cd-bounce-2-inverse 0.6s;
	animation: cd-bounce-2-inverse 0.6s;
}
}
@-webkit-keyframes cd-bounce-2 {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2 {
 0% {
 opacity: 0;
 -moz-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@keyframes cd-bounce-2 {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
 -moz-transform: translateX(-100px);
 -ms-transform: translateX(-100px);
 -o-transform: translateX(-100px);
 transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
 -moz-transform: translateX(20px);
 -ms-transform: translateX(20px);
 -o-transform: translateX(20px);
 transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
 -moz-transform: translateX(0);
 -ms-transform: translateX(0);
 -o-transform: translateX(0);
 transform: translateX(0);
}
}
@-webkit-keyframes cd-bounce-2-inverse {
 0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2-inverse {
 0% {
 opacity: 0;
 -moz-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(-20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@keyframes cd-bounce-2-inverse {
 0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
 -moz-transform: translateX(100px);
 -ms-transform: translateX(100px);
 -o-transform: translateX(100px);
 transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
 -moz-transform: translateX(-20px);
 -ms-transform: translateX(-20px);
 -o-transform: translateX(-20px);
 transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
 -moz-transform: translateX(0);
 -ms-transform: translateX(0);
 -o-transform: translateX(0);
 transform: translateX(0);
}
}
/*---Timeline Ends----*/

/*---Portfolio---*/
.wow h2 {
	color: #292C44;
}
.por-text-details .col-xs-4 p {
	font-weight: bold;
	text-transform: uppercase;
	color: #FF5349;
}
.mfp-zoom-out .mfp-with-anim {
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
	opacity: 0;
}
.por-text h2 {
	text-transform: uppercase;
	margin: 0;
	font-size: 22px;
	margin-bottom: 15px;
	border-bottom: 3px solid #FF5349;
	padding-bottom: 10px;
}
.white-popup {
	position: relative;
	background: #FFF;
	padding: 30px;
	width: auto;
	max-width: 60%;
	margin: 0 auto;
}
.por-text-details .col-xs-4 p {
	font-weight: bold;
	text-transform: uppercase;
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background: #FF5349;
}
.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 3em;
	text-align: left;
}
.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}
.hovereffect h2 {
	text-transform: uppercase;
	color: tomato;
	position: relative;
	font-size: 17px;
	background-color: transparent;
	padding: 5% 0 10px 0;
	text-align: left;
	opacity: 0;
}
.hovereffect:hover h2 {
	color: #fff;
	opacity: 1;
}
.hovereffect .overlay:before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}
.hovereffect a, .hovereffect p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
	transition: opacity 0.35s, -webkit-transform 0.45s;
	-o-transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s;
	transition: opacity 0.35s, transform 0.45s, -webkit-transform 0.45s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}
.hovereffect:hover img {
	opacity: 0.2;
	filter: alpha(opacity=20);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.hovereffect:hover .overlay:before, .hovereffect:hover a, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.no-pad {
	padding: 0;
}
/*---Portfolio Ends---*/

/*--Slideshow Carousel--*/
#myCarousel7 > .carousel-inner > .item > img,  #myCarousel7 > .carousel-inner > .item > a > img {
	display: block;
	max-width: 120%;
	height: auto !important;
	max-height: 700px;
}
.carousel {
	color: white;
}
/*--Slideshow Carousel Ends--*/



/*---Skills---*/
.skills-area .container .section-header h2 {
	color: #FFFFFF;
}
#skillssection {
	background-color: #FF5349;
}
.skills h3 {
	text-align: center;
}
.skills h4 {
	padding: 20px 0;
	margin: 30px;
	text-align: center;
	background-color: white;
	box-shadow: 0 20px 40px rgba(0,0,0,.2);
}
.skillbar .skillbar-title {
	display: inline-block;
	vertical-align: middle
}
/*---Skills Ends---*/

/*---Contact---*/
#contact-form {
	box-shadow: 0 20px 40px rgba(0,0,0,.2);
	padding: 5%;
}
.single-contact i {
	font-size: 30px;
	color: #FF5349;
}
.single-contact .socials i {
	font-size: 24px;
	color: #FF5349;
	transition: all 300ms ease-in-out;
}
.socials i:hover {
	cursor: pointer;
	color: #292C44;
}
.single-contact {
	margin-bottom: 50px;
	hevertiight: 150px;
}
.contact-area .form-control {
	border: none;
	border-bottom: 2px solid #a2a2a2;
	box-shadow: none;
	padding: 6px 0;
	border-radius: 0;
	margin-bottom: 30px;
}
.contact-area textarea.form-control {
	border: 2px solid #a2a2a2;
	padding: 6px;
	height: 250px;
	margin-bottom: 30px;
}
.single-contact h2 {
	text-transform: uppercase;
	font-size: 16px;
}
.btn.btn-send {
	background: #FF5349;
	color: #ffffff;
	padding: 15px 20px;
	text-transform: uppercase;
	font-weight: 600;
}
.contact-right h2 {
	font-size: 18px;
	text-transform: uppercase;
}
.socials {
}
.socials i {
	margin: 0 10px;
}
.single-contact {
	box-shadow: 0 20px 40px rgba(0,0,0,.2);
	padding: 5%;
}
/*---Contact Ends--- */


/*---Footer---*/
footer {
	font-size: 12px;
	padding: 50px 0;
	color: #ffffff;
	background: #232323;
}
/*---Footer Ends---*/

/*---Parallax----*/
.parallax-window {
	min-height: 300px;
}
.parallax-window h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 50px;
	color: #292C44;
}



