/* =================================================

Author: Janujan


=================================================== */



/*Table of Contents


    1. Default css
    2. Preloader css
    3. Mouse Animation css
    4. Nav Area css
    5. Banner Area css
    6. About Area css
    7. Services Area css
    8. Number Area css
    9. Portfolio Area css
    10. Testimonial Area css
    11. Contact Area css
    12. Brand Area css
    13. Footer Area css

*/


/*--- 1. Default css ---*/

html,body{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #333333;
    font-weight: 600;
}

p {
    letter-spacing: 0;
    line-height:1.8;
}

a{
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 60px 0;
}

.section-header{
    margin-bottom: 60px;
    text-align: center;
}

.section-header h2 {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
}

.line-one {
    height: 1px;
    width: 100px;
    background: #E91E63;
    display: block;
    margin: 0 auto;
    padding: 0;
}

/*---Default ends---*/



/*
header .container {
	background: #292C44;
}
body {
  	font-family: 'Roboto', sans-serif;
  	font-weight: 300;
}
h2 {
  	font-family: roboto;
  	font-size: 18px;
  	font-weight: 600;
  	letter-spacing: 0.3px;
  	text-align: center;
  	color: #ffa500;
  	padding: 10px 0px 10px 10px;
}
*/

/*---------- Nav-------------*/

.nav-area{
    height: 65px;
}

.nav-area.sticky_navigation{
    background: #ffffff;
    height: 80px;
}

.navbar-nav {
    margin-top: 15px;
}

.sticky_navigation{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out ;
    transition: all 0.4s ease-out ;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.sticky_navigation .main-menu{
    margin-top: 0;
}

.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #000000;
}

.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #E91E63;
}

.sticky_navigation .nav li a {
    color: #333333;
}

.sticky_navigation .nav li.active a{
    color: #E91E63;
}

.sticky_navigation .nav li.active::before {
    border-top: 1px solid #E91E63;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}
.sticky_navigation .nav li.active::after {
    border-bottom: 1px solid #E91E63;
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
}

.sticky_navigation .navbar-brand:hover{
    color: #ffffff;
}

.main-menu{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar{
    border:0;
    margin-bottom: 0;
}

.navbar-brand{
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #ffffff;
    font-weight: 800;
}

.logo {
    padding: 5px;
    font-size: 32px;
    letter-spacing: 3px;
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: #ffffff;
}

.navbar-right li{
    display: inline-block;
    float: none;
}

.navbar-right li a{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right li.active a{
    font-weight: bold;
    color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus{
    background: none;
}

.navbar-toggle .icon-bar{
    background: #033D75;
}

/*----------- 5. Banner starts--------------*/


.banner-area{
    background-image: url(images/Carousel.png); /*--edit image--*/
    background-position: center;
    background-size:cover;
    position: relative;
    height: 100%;
}

.banner-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-table{
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.welcome-text .intro h2 {
    color: #fff;
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 10px;
}

.intro h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

.ah-headline.clip .ah-words-wrapper::after {
    background-color: #fff;
}

.banner-btn {
    background: #E91E63;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 25px;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.banner-btn:hover, .banner-btn:focus {
    text-decoration: none;
    color: #ffffff;
}

.welcome-text h3 {
    color: #fff;
    text-transform: uppercase;
}


/*---------Banner ends--------------*/

/*---------- Nav ends -------------*/

/*
img {
  	width: 100%;
  	height: auto;
}
.jumbotron {
	display: flex;
  	align-items: center;
  	background-image: url(images/Carousel.png);
	background-blend-mode: overlay;
  	background-size: cover;
  	height: 100vh;
}

.jumbotron h2 {
  	font-size: 40px;
  	font-weight: 700;
  	margin: 0;
  	color: #292C44;
}

.jumbotron h3 {
  	margin: 0 0 20px;
  	color: #FF5349;
}
*/

.qualification{
  	background-color: #F0F0F1;
  	margin: 30px;
  	padding: 10px;
  	display: inline-block;
  	height: 300px;
  	width: 300px;
}
.qualification:hover {
	box-shadow: 0px 2px 20px 1px black;
}
.qualification h3{
	color: #292C44;
}
.qualification ul li {
	color: #292C44;
}
.experience{
  	background-color: #292C44;
  	margin: 0 auto;
  	text-align: center;
}
.experience > h2 {
	color: white;
	padding: 30px;
}
.container-fluid{
	background: #292C44;
	padding: 20px;
}

.scrolldown {
	margin-top: 5em;
}
.timeline {
	padding: 30px;
}
.portfolio {
	background-color: #F0F0F1;
	
}
.portfolio > h2 {
	color: #292C44;
	margin-top: 0;
	padding: 30px;
}

.project{
	background-color: #292C44;
	height: 300px;
	width: 300px;
	display: inline-block;
	margin: 35px 60px;
	align-content: center;
}
.projects > .row {
	text-align: center;
	position: relative;
}
.contact > h1 {
	margin-top: 0;
	color: white;
	padding: 30px;
}
.contact {
	height: 500px;
	background-color: #18CDCA;
	text-align: center;
}
.contact .form {
	height: 300px;
	width: 80%;
	background-color: white;
	margin: 30px auto;
	padding: 30px;
}
.contact .links {
	margin-top: 20px;
	width: 100%;
}
.contact .links button{
	padding: 15px 35px;
	margin: 0px 20px;
	background-color: #18CDCA;
	border: none;
	color: white;
}
.contact .links button:hover {
	box-shadow: 0px 1.5px 20px 5px grey;
}
.skills {
	background-color: #FF5349;
	height: 1000px;
}
.skills > h1 {
	color: white;
	margin-top: 0;
	padding: 30px;
}
.skills .container {
	height: 800px;
	width: 80%;
	background-color: white;
	margin: 30px auto;
	padding: 30px;
}
.skillssubsection {
	text-align: center;
	padding-top: 20px;
}
.skill{
	height: 150px;
	width: 150px;
	background-color: #FF5349;
	display: inline-block;
	margin: 20px;
}
footer {
  	font-size: 12px;
  	padding: 50px 0;
}

footer .col-sm-8 {
  	display: flex;
  	justify-content: flex-end;
}

footer ul {
  	list-style: none;
}

footer li img {
  	width: 32px;
  	height: 32px;
}
section .row {
	align-content: center;
}
section .row img {
	width: 100%;
	padding: 10px;
}
.submitbtn{
	margin: 20px;
	padding: 10px 40px;
}
.inputbtn{
	margin: 10px;
}






.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect button {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
	border: none;

}



.hovereffect button {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}


.hovereffect:hover .overlay,
.hovereffect:hover button {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover button {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}





